[submodule "STGB_bot"]
	path = STGB_bot
	url = https://github.com/Karpovich-alex/STGB_bot.git
	branch = master
[submodule "STGB_worker"]
	path = STGB_worker
	url = https://github.com/Karpovich-alex/STGB_worker.git
	branch = master
[submodule "STGB_backend"]
	path = STGB_backend
	url = https://github.com/Karpovich-alex/STGB_backend.git
